<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Jordi Martínez Teruel!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href={{asset('build/css/app.css')}} />
        {% endblock %}
    </head>
    <body>
     <div id="app">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
        {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </body>
</html>
